<ng-template [ngIf]="!data.externalMediaSource">
  <div *ngIf="data.mediaAsset">
    <div class="asset-media" #mediaEle>
      <video *ngIf="isVideoMedia(data.mediaAsset.type)" [src]="data.mediaAsset.assetUrl" autoplay muted loop oncanplay="this.play()"
        onloadedmetadata="this.muted = true" width="100%">
        Your device browser does not support the video tag.
      </video>
      <img *ngIf="!isVideoMedia(data.mediaAsset.type)" [src]="data.mediaAsset.assetUrl" width="100%" />
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="data.externalMediaSource">
  <div>
    <iframe #mediaEle [src]="trimYoutubeUrl(data.externalMediaSource) | safe" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
    </iframe>
  </div>
</ng-template>